<form action="/new" method="post">
  <input type="text" name="meetup_name">Name of Meetup</input><br><br>
  <input type="text" name="meetup_description" id="description">Description of Meetup</input><br><br>
  <input type="text" name="meetup_location">Location of Meetup</input>
  <input type="submit">
</form>
