<form action="/new" method="post">
  <input type="text" name=new_meetup[name]>Name of Meetup</input><br><br>
  <input type="text" name=new_meetup[description] id="description">Description of Meetup</input><br><br>
  <input type="text" name=new_meetup[location]>Location of Meetup</input>
  <input type="submit">
</form>
